@{
    ViewBag.Title = "About";

}

<style>
    #mainContent {
        padding-left: 50px;
        padding-right: 50px;
    }

        #mainContent ul li {
            margin-left: 50px;
        }
</style>



<div class="container-fluid" id="mainContent">
    <h2>@ViewBag.Title.</h2>
    <hr />

    <div id="about_us">
        <h3>Why US?</h3>
        <ul>
            <li>Healthcare continuum solutions is focused on healthcare innovation and technology.</li>
            <li>Enhance communication between health facilities, improve patient access, and reduce expenses. Make it very simple and quick for healthcare providers to manage case referrals and continuity of care solutions.</li>
            <li>Solutions based on a new model of integrated, coordinated care managed by platforms and solutions that are Continuous, Data Driven and Intelligent.</li>
        </ul>


        <h3>Why now?</h3>
        <ul>
            <li>Comprehensive continuum of care solutions are required to deal with the increase in healthcare costs increasing, the changes in payment models and new provider structures  resulting from The Affordable Care Act and healthcare reform legislations</li>
        </ul>

        <h3>Core values</h3>
        <ul>
            <li>Innovation and creativity – we take pride in what we do and believe that modernization of the US healthcare system will be driven by innovation and collaboration between healthcare providers, health care payers and technology partners.</li>
        </ul>
    </div>
    
    <br />
</div>


