@model dynamic

@{
    ViewBag.Title = "title";
}

<style>
        #mainContent {
            padding-left: 50px;
            padding-right: 50px;
        }

        #mainContent ul li {
            margin-left: 50px;
        }
</style>


<div class="container-fluid" id="mainContent">
    <h2>Privacy</h2>
    <hr />

    <div>
        <h2>
            Notice of Privacy Practices
        </h2>
        <p>
            Trusted Health Corp. is committed to protecting the privacy of your health information. We have policies and safeguards in place to protect your privacy. We are also required by state and federal laws to protect the confidentiality of your health information and to provide you with this Notice of Privacy Practices.
        </p>

        <br />
        <div>
            <h3>
                How is my information used?
            </h3>
            <p>
                The confidential health information that we collect is called Protected Health Information (PHI).  The most common reason why we may use or disclose your PHI is for health care operations or in collection of payment for our services.  We can only share your PHI with your signed authorization, which you may cancel at any time. We do not use or disclosure your PHI for marketing purposes and we do not sell your PHI.
            </p>
        </div>

        <br />
        <div>
            <h3>
                What can you do without my authorization?
            </h3>
            <p>
                We can only share your PHI without your authorization when:
                <ul>
                    <li>It is required by law</li>
                    <li>There is a court order</li>
                </ul>
            </p>
        </div>

        <br />
        <div>
            <h3>
                What are my rights?
            </h3>
            <p>
                Except in the situations described above, we will not use or disclose your PHI without your written authorization. You do not have to sign the authorization and you may revoke your authorization at any time unless we have already acted in reliance upon it. You also have the following rights regarding the use and disclosure of your PHI:
                <ul>
                    <li>You may request that we restrict the use or disclose of your PHI by doing so in writing. You can also decide to end a restriction at any time.</li>
                    <li>You may ask to review your PHI by requesting to do so in writing. We may charge a fee for copying and require payment in advance.</li>
                    <li>You may request that we amend your records if you think they are incorrect or incomplete. If we agree, we will amend the record.</li>
                </ul>
            </p>
        </div>

        <br />
        <div>
            <h3>
                How do I contact you in the future?
            </h3>
            <p>
                If you wish to see or obtain a copy of your PHI, see an accounting of any disclosures we have made of your PHI or ask to amend your PHI or revoke your authorization, please contact Health One at 703-534-6766 for directions on how to make these requests.
            </p>
        </div>


        <br />
        <div>
            <h3>
                What if I think my privacy has not been protected?
            </h3>
            <p>
                If you believe that your privacy has not been protected, you believe there has been a breach of the security of your PHI, or you wish to have additional information, please contact Trusted Health or you can contact the Secretary of Health and Human Services. You will not be retaliated against if you file a complaint. The privacy of your PHI is important to us.
            </p>
        </div>
    </div>
    <br />
</div>